.cache

/.jupyter
/.idea
/.vs
/vcpkg_installed*

node_modules
yarn.lock

/tmp*
/out
/build
/builds
/logs

# DATA FILES TO IGNORE (SHOULD JUST KEEP THE COMPRESSED FIXTURES, BUT THIS IS MORE EXPLICIT)
*.ibt
/data/ibt
/data/fixtures/race-recordings/*/
/data/fixtures/telemetry/*.ibt

.ipynb_checkpoints
__pycache__
venv
CMakeLists.txt.user

/compile_commands.json

.*local*
.psenvrc